<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.url">jdbc:derby:C:\Nomis\dbs\nomisdb</property>
    <property name="connection.pool_size">100</property>
    <!--Nomiscrsdb<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
    <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nomisdb</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/nomisdb</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"> </property>-->
    <!-- configuration pool via c3p0-->
    <property name="c3p0.acquire_increment">2</property>
    <property name="c3p0.idle_test_period">100</property>
    <!-- seconds -->
    <property name="c3p0.max_size">100</property>
    <property name="c3p0.max_statements">0</property>
    <property name="c3p0.min_size">10</property>
    <property name="c3p0.timeout">100</property>
    <mapping resource="User.hbm.xml"/>
    <mapping resource="Ovc.hbm.xml"/>
    <mapping resource="ChildStatusIndex.hbm.xml"/>
    <!--<mapping resource="Followup.hbm.xml"/>-->
    <mapping resource="OvcService.hbm.xml"/>
    <mapping resource="OvcWithdrawal.hbm.xml"/>
    <!--<mapping resource="State.hbm.xml"/>-->
    <mapping resource="Lga.hbm.xml"/>
    <mapping resource="Cbo.hbm.xml"/>
    <mapping resource="Ward.hbm.xml"/>
    <mapping resource="OvcSchool.hbm.xml"/>
    <mapping resource="states.hbm.xml"/>
    <mapping resource="lgas.hbm.xml"/>
    <mapping resource="Cbos.hbm.xml"/>
    <mapping resource="wards.hbm.xml"/>
    <mapping resource="cbosetup.hbm.xml"/>
    <mapping resource="MthlyService.hbm.xml"/>
    <mapping resource="partners.hbm.xml"/>
    <mapping resource="eligibilityCriteria.hbm.xml"/>
    <mapping resource="followupsurvey.hbm.xml"/>
    <mapping resource="ServiceList.hbm.xml"/>
    <mapping resource="orgrecords.hbm.xml"/>
    <mapping resource="OrganizationalCapacityAssessment.hbm.xml"/>
    <mapping resource="ovcreferral.hbm.xml"/>
    <mapping resource="servicedomain.hbm.xml"/>
    <mapping resource="indicators.hbm.xml"/>
    <mapping resource="dhisorgunitlink.hbm.xml"/>
    <mapping resource="ServiceReport.hbm.xml"/>
    <mapping resource="ReferralReport.hbm.xml"/>
    <mapping resource="CsiReport.hbm.xml"/>
    <!--<mapping resource="followupSurveyReport.hbm.xml"/>-->
    <mapping resource="FingerPrint.hbm.xml"/>
    <mapping resource="Service1.hbm.xml"/>
    <mapping resource="FingerPrintService.hbm.xml"/>
    <mapping resource="HouseholdService.hbm.xml"/>
    <mapping resource="UserRight.hbm.xml"/>
    <mapping resource="UserRole.hbm.xml"/>
    <!--<mapping resource="HouseholdReferral.hbm.xml"/>-->
    <mapping resource="Caregiver.hbm.xml"/>
    <mapping resource="CompatibilityHvi.hbm.xml"/>
    <mapping resource="CompatibilityOvc.hbm.xml"/>
    <mapping resource="HHVulnerabilityAssessment.hbm.xml"/>
    <mapping resource="HouseholdEnrollment.hbm.xml"/>
    <mapping resource="NutritionAssessment.hbm.xml"/>
    <mapping resource="ReportQuery.hbm.xml"/>
    <mapping resource="CategoryOption.hbm.xml"/>
    <mapping resource="CategoryCombination.hbm.xml"/>
    <mapping resource="CustomDataElement.hbm.xml"/>
    <mapping resource="Category.hbm.xml"/>
    <mapping resource="DhisDataExport.hbm.xml"/>
    <mapping resource="TrainingInformationSetup.hbm.xml"/>
    <mapping resource="TrainingStatusSetup.hbm.xml"/>
    <mapping resource="Training.hbm.xml"/>
    <mapping resource="TrainingCategory.hbm.xml"/>
    <mapping resource="TrainingDesignation.hbm.xml"/>
    <mapping resource="TrainingParticipant.hbm.xml"/>
    <mapping resource="HouseholdFollowupAssessment.hbm.xml"/>
    <mapping resource="UmbrellaOrganization.hbm.xml"/>
    <mapping resource="DataValue.hbm.xml"/>
    <mapping resource="IndicatorSetup.hbm.xml"/>
    <mapping resource="ReportQueryManager.hbm.xml"/>
    <mapping resource="OrganizationUnitGroup.hbm.xml"/>
    <mapping resource="OrganizationUnitGroupAssignment.hbm.xml"/>
    <mapping resource="DatabaseImportTracker.hbm.xml"/>
    <mapping resource="HivStatusUpdate.hbm.xml"/>
    <!--<mapping resource="HivStatusUpdate.xml"/>-->
    <mapping resource="DeletedRecord.hbm.xml"/>
    <mapping resource="OvcTbHivScreeningChecklist.hbm.xml"/>
    <mapping resource="CaregiverTbHivScreeningChecklist.hbm.xml"/>
    <mapping resource="SpecificServiceReport.hbm.xml"/>
    <mapping resource="GraduationChecklist.hbm.xml"/>
    <mapping resource="BirthRegistration.hbm.xml"/>
    <mapping resource="SiteTransition.hbm.xml"/>
    <!--<mapping resource="OrganizationUnitHirachy.hbm.xml"/>-->
    <mapping resource="ReferralDirectory.hbm.xml"/>
    <mapping resource="UserGroup.hbm.xml"/>
    <mapping resource="OldUser.hbm.xml"/>
    <!--<mapping resource="com/nomis/dataexchange/hibernate/DhisInstance.hbm.xml"/>
    <mapping resource="com/nomis/dataexchange/hibernate/DxOrganizationUnit.hbm.xml"/>
    <mapping resource="com/nomis/dataexchange/hibernate/DxDataElement.hbm.xml"/>
    <mapping resource="com/nomis/dataexchange/hibernate/DxCategoryCombination.hbm.xml"/>-->
    <mapping resource="HouseholdUniqueServiceReport.hbm.xml"/>
    <mapping resource="HIVRISKASSESSMENTCHECKLIST.hbm.xml"/>
    <mapping resource="Chart.hbm.xml"/>
    <mapping resource="Dashboard.hbm.xml"/>
    <mapping resource="DashboardItem.hbm.xml"/>
    <mapping resource="CareplanAchievement.hbm.xml"/>
    <mapping resource="GenderNormCohortAttendance.hbm.xml"/>
    <mapping resource="CareAndSupportChecklist.hbm.xml"/>
    <mapping resource="CaregiverExpenditureAndSchoolAttendance.hbm.xml"/>
    <mapping resource="SchoolAttendance.hbm.xml"/>
    <mapping resource="SchoolAttendanceTracker.hbm.xml"/>
    <mapping resource="OvcSchoolAttendance.hbm.xml"/>
    <mapping resource="OptionsManager.hbm.xml"/>
    <mapping resource="ProcessMonitor.hbm.xml"/>
    <mapping resource="CustomIndicatorsReportTemplate.hbm.xml"/>
    <mapping resource="ChildSchoolStatus.hbm.xml"/>
    <mapping resource="DataImportFileUploadManager.xml"/>
    <mapping resource="DatimReportTemplate.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
